<html lang="pt-br">
<body>
    <h2>Campeonato de Games</h2>
    <form method="POST">
        <label>Nickname:</label><br>
        <input type="text" name="nickname"><br><br>

        <label>Jogo escolhido:</label><br>
        <select name="jogo"Dut>
            <option value="">Selecione</option>
            <option value="Minecraft">Minecraft</option>
            <option value="FIFA">FIFA</option>
            <option value="RPG ">RPG </option>
            <option value="Super Mario">Super Mario</option>
        </select><br><br>

        <label>E-mail:</label><br>
        <input type="email" name="email"><br><br>

        <button type="submit">Enviar Inscrição</button>
    </form>

    <p>{{ mensagem }}</p>
</body>
</html>
